<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  
  DODAM POS WEB.CONFIG
  -->
<configuration>

<!--DODAM POS DATABASE CONNECTION STRING-->
<configSections>
</configSections>
<connectionStrings>
    <add name="dodampos" connectionString="Server=tcp:dodamdbserver.database.windows.net,1433;Initial Catalog=dodampos;&#xD;&#xA;         Persist Security Info=False;User ID=lidiadshin;Password=1142311423!q;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
        providerName="System.Data.SqlClient" />
    <add name="dodamposlocal" connectionString="Data Source=laptop-l82n2tn1\sqlexpress; database=dodamposlocal;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="DodamPOS.Properties.Settings.dodamposConnectionString"
        connectionString="Data Source=tcp:dodamdbserver.database.windows.net,1433;Initial Catalog=dodampos;Persist Security Info=False;User ID=lidiadshin;Password=1142311423!q;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
        providerName="System.Data.SqlClient" />
    <add name="dodamposConnectionString" connectionString="Data Source=dodamdbserver.database.windows.net;Initial Catalog=dodampos;Persist Security Info=True;User ID=lidiadshin;Password=1142311423!q"
        providerName="System.Data.SqlClient" />
    <add name="DodamPOS.Properties.Settings.dodamposConnectionString1"
        connectionString="Data Source=dodamdbserver.database.windows.net;Initial Catalog=dodampos;Persist Security Info=True;User ID=lidiadshin;Password=1142311423!q"
        providerName="System.Data.SqlClient" />
</connectionStrings>
  
  
  
 <!-- FOR REQUIREFIELD VALIDATION-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

    <add key="useazureblob" value="true"/>
    <add key="azurekey" value="DefaultEndpointsProtocol=https;AccountName=dodamblob;AccountKey=gdqLpY+hprduCLp9q3q7ZRxfSvGmh0bQJk0c9aabkb14PLWz16fRXejbqxYEjFSJvN1aDtVLCj0ENX/L9wRd5w==;EndpointSuffix=core.windows.net" />
  </appSettings>





  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
     <!-- Maximum request length exceeded.-->
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576"/>

    <customErrors mode="Off"/>
     <!-- LOGIN AUTHENITICATION SETTING-->

    <authentication mode="Forms">
      <forms loginUrl="~/default.aspx" defaultUrl="~/main.aspx"/>
    </authentication>

    <authorization>
      <deny users="?"/>
    </authorization>
    
   
    
  

  
  
  </system.web>
  

  
<system.webServer>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="1073741824" />
    </requestFiltering>
  </security>
</system.webServer>
  
  
   
  
  
  
  
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
